
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,input,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,select,small,span,strike,strong,sub,summary,sup,table,tbody,td,textarea,tfoot,th,thead,time,tr,tt,u,ul,var,video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes shake {
  0% { transform: rotate(-25deg) }
  5% { transform: rotate(-20deg)}
  10% { transform: rotate(-15deg)}
  15% { transform: rotate(-10deg)}
  20% { transform: rotate(-5deg)}
  25% { transform: rotate(0deg)}
  30% { transform: rotate(5deg)}
  35% { transform: rotate(10deg)}
  40% { transform: rotate(15deg)}
  45% { transform: rotate(20deg)}
  50% { transform: rotate(25deg)}
  55% { transform: rotate(20deg)}
  60% { transform: rotate(15deg)}
  65% { transform: rotate(10deg)}
  70% { transform: rotate(5deg)}
  75% { transform: rotate(0deg)}
  80% { transform: rotate(-5deg)}
  85% { transform: rotate(-10deg)}
  90% { transform: rotate(-15deg)}
  95% { transform: rotate(-20deg)}
  100% { transform: rotate(-25deg)}
}

#header-top {
    position: relative;
    height: 101px;
    text-align: right;
    line-height: 100px;
    z-index: 2;
}

#IMAGE493 {
    position: absolute;
    left: 0;
    top: 12px;
}

#IMAGE493 .ladi-image-background {
    width: 200px;
    height: 73.1034px;
    background-image: url("src/tpbank-logo.png");
}

.ladi-image-background {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.header-button {
    display: inline-block;
    width: 110px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    line-height: 2.6;
}

.header-content-button {display: inline-block;vertical-align: middle;margin-right: 40px;}

div#page-content {
    width: 1000px;
    margin: 0 auto;
}

.overlay-header {
    height: 110px;
    position: absolute;
    background-color: rgb(73, 35, 104);
    left: 0;
    right: 0;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.overlay-main {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-image: url("src/huong_anh.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    height: 559px;
}

.button-element:hover {
    background: rgb(232, 105, 48);
    cursor: pointer;
    padding: 5px 0;
}

#main-container-text {
    position: relative;
    z-index: 3;
    text-align: center;
    line-height: 50;
    line-height: 50px;
    top: 220px;
}



#PARAGRAPH657 {
    font-size: 50px;
}

#PARAGRAPH658 {
    font-size: 29px;
}

#PARAGRAPH659 {
    font-size: 20px;
}

.button-Register {
    width: 160px;
    display: inline-block;
    line-height: 40px;
    background-color: rgb(232, 105, 48);
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.button-Register:hover {
    background: black;
    cursor: pointer;
}

#Main-image {
    height: 568px;
}

#title-form {
    margin: 30px 0;
}

p.title-text-form.title-1 {
    font-family: "Montserrat", sans-serif;
    color: rgb(74, 35, 104);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

p.title-text-form.title-2 {
    font-family: "Montserrat", sans-serif;
    color: rgb(74, 35, 104);
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    margin-top: 10px;
}

p.input-line {
    display: inline-block;
    width: 49%;
    height: 100px;
    font-family: "Open Sans", sans-serif;
}

input.input-text {
    display: block;
    border: 1px solid #e0e0e0;
    background-color: transparent;
    padding: 15px 20px;
    width: 80%;
    margin-top: 10px;
}

p.input-line {}

select.input-text {display: block;border: 1px solid #e0e0e0;background-color: transparent;padding: 14px 20px;width: 80%;margin-top: 10px;}

textarea.input-text {
    display: block;
    width: 100%;
    border: 1px solid #e0e0e0;
    background-color: transparent;
    padding: 14px 20px;
    margin-top: 10px;
}

p.input-line.center-input {
    width: 89%;
}

#submit-go {
    background: rgb(74, 35, 104);
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    width: 315.785px;
    height: 49.1166px;
}

#button-subit {
    text-align: center;
}

body {
    font-family: "Open Sans", sans-serif;
}

.black-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background: #0000008c;*/
}

.img-item-forte .black-overlay {
  background: #0000008c;
}
#header-info h1, #header-forte h1, #header-PROCEDURE h1,#header-rate h1 {
    margin: 40px 0;
    font-family: "Open Sans", sans-serif;
    color: rgb(74, 35, 104);
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

.background-load {
    width: 90%;
    height: 196.215px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    margin: 0 auto;
    pointer-events: none;
}

.box-1 .background-load {
    background-image: url("src/sale-dollar-sign.jpg");
}

.box-2 .background-load {
    background-image: url("src/sp-3-3.png");
}

.box-3 .background-load {
    background-image: url("src/cttc.png");
}

.item-box {
    display: inline-block;
    width: 32.3333%;
    vertical-align: top;
}

.header-item h3 {
    color: rgb(74, 35, 104);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    margin: 20px 0;
}

.text-item {
    width: 90%;
    margin: 0 auto;
    height: 120px;
}

.item-box .header-item {
    height: 60px;
}

.button-popup {
    margin: 20px 0;
    text-align: center;
}

button.button-click {
    background-color: rgb(74, 35, 104);
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    width: 154.925px;
    height: 33.5824px;
    border-radius: 5px;
}

button.button-click:hover {
    background: black;
    cursor: pointer;
}

.item-forte {
    width: 32.3333%;
    display: inline-block;
    position: relative;
}

.img-item-forte {
    width: 311.976px;
    height: 164.112px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    pointer-events: none;
}

.text-item-forte {
    position: absolute;
    top: 59px;
    width: 80%;
    left: 29px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
    font-weight: 700;
}

.item-one .img-item-forte {
    background-image: url("src/cover_tpbank_livebank.jpg");
}

.item-two .img-item-forte {
    background-image: url("src/thechap-20200229034818.jpg");
}

.item-three .img-item-forte {
    background-image: url("src/giaingan-20200229035055.jpg");
}

.item-four .img-item-forte {
    background-image: url("src/laisuatvaygiam-20200229035116.jpg");
}

.item-five .img-item-forte {
    background-image: url("src/hamuctragop-20200229035147.jpg");
}

.item-six .img-item-forte {
    background-image: url("src/capthe-20200229035337.jpg");
}

.item-forte .black-overlay {
    width: 311.976px;
}

.item-six .text-item-forte {
    top: 35px;
}

.number-left {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    line-height: 100px;
    text-align: center;
    background: #4a2368;
    margin-right: 20px;
    border-radius: 100%;
    color: white;
    font-size: 50px;
}

.item-PROCEDURE .text-item {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    line-height: 28px;
}

.item-PROCEDURE {
    margin-bottom: 30px;
}

span {}

p.text-item span {
    line-height: 15px;
}

#submit-go:hover {
    background: black;
    cursor: pointer;
}

.left-quest-colum {
    width: 30%;
    height: 600px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    position: relative;
}

.right-quest-colum {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.image-quest-left {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    pointer-events: none;
    background-image: url("src/thumb_bocaokhaitruong-20200224095649.jpg");
    width: 100%;
    height: 600px;
}

p.button-Register.left-button {
    position: absolute;
    top: 50%;
    left: 75px;
    text-align: center;
}

.title-quest-right h3 {
    font-family: "Open Sans", sans-serif;
    color: rgb(74, 35, 104);
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
}

p.text-down {
    margin: 10px 0;
}

.box-item-quest-header {
    background: #4a2368;
    color: white;
    padding: 10px 5px;
}

.box-item-quest-content {
    padding: 5px;
    border: 1px solid #ccc;
    line-height: 27px;
}

.title-quest-left {
    position: absolute;
    top: 41%;
    color: white;
    font-size: 26px;
    font-weight: bold;
    left: 21px;
}

h6.ladi-headline {
    margin-top: -28px;
    color: #4a2368;
    font-size: 18px;
    width: 70%;
    margin: -31px auto 22px auto;
    text-align: center;
}

.item-box-rate {
    width: 32.33333%;
    display: inline-block;
    vertical-align: top;
}

.item-rate-image {
    border-radius: 220px;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-position: center center;
    background-repeat: repeat;
    width: 84px;
    height: 79.5px;
    margin: 10px auto;
}

.item-rate-one .item-rate-image {
    background-image: url("src/phong-thuy-van-phong-cho-sep-nu-20200229042941.jpg");
}

.item-rate-two .item-rate-image {
    background-image: url("src/tuyen-nu-nhan-vien-van-phong-xuat-khau-lao-dong-singapore-20200229043457.jpg");
}

.item-rate-three .item-rate-image {
    background-image: url("src/photo1530673314601-15306733146011622277614-20200229043524.jpg");
}

.item-rate-image-rate {
    width: 129.886px;
    height: 28.499px;
    background-image: url("src/bintang-lima-png-3-1-20200229042753.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    pointer-events: none;
    margin: 10px auto;
}

.item-rate-text {
    font-size: 14px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

p.text-info-rate {
    height: 90px;
    text-align: left;
}

p.bold-text-rate {
    color: #4a2368;
    font-weight: bold;
    text-align: center;
}

.fotter-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4a2368;
    z-index: -1;
}

#fotter-page {
    height: 500px;
    position: relative;
}

div#main-rate {
    margin-bottom: 50px;
}

.footer-content {
    position: relative;
    z-index: 6;
}

.logo-fotter {
    display: block;
    height: 80px;
    margin: 10px;
    top: 8px;
    position: relative;
}

.logo-fotter .ladi-image-background {
    width: 200px;
    height: 73.1034px;
    background-image: url(src/tpbank-logo.png);
}

.footer-content {
    width: 960px;
    margin: 0 auto;
}

.fotter-contact {
    display: inline-block;
    width: 48%;
    margin-top: 30px;
    vertical-align: top;
}

.title-contact h3,.title-about h3 {
    color: rgb(232, 106, 48);
    font-size: 25px;
    text-align: center;
    line-height: 1.6;
}

.text-contact {
    margin-top: 20px;
    line-height: 35px;
    color: white;
}

.text-contact a {
    color: burlywood;
}

.fotter-button {
    display: inline-block;
    width: 45%;
    line-height: 30px;
}

.content-about {
    line-height: 80px;
    text-align: center;
}

.button-element {
    color: white;
}

.button-element:hover {
    padding: 0!important;
}

.fotter-top {
    position: fixed;
    bottom: 100px;
    z-index: 9;
    left: 10%;
    right: 10%;
    opacity: 0.7;
}

.button-tel {
    position: absolute;
    left: 0;
}

.button-image {
	animation: shake 1.5s;
  animation-iteration-count: infinite;
}

.button-overlay .button-image {
    width: 71px;
    height: 71px;
    background-image: url("src/phone_hotline-20200229045702.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
}

.button-zalo {
    position: absolute;
    right: 0;
}

.button-zalo .button-image {
    background-image: url(src/zalo-apk-20191106082733.jpg);
}

.popup-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.popup-overlay{
    position: fixed;
    top: 0;
    background: #0000009e;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.content-body {
    background: white;
    position: absolute;
    width: 784px;
    height: 443px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
		z-index:2
}

.title-text-popup {
    display: none;
    color: rgb(74, 35, 104);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
}

.list-content {
    display: inline-block;
    width: 48%;
    text-align: left;
}

.list-left-popup {
    float: left;
    vertical-align: top;
}

.list-right-popup {
    vertical-align: top;
    float: right;
		height:330px
}

.content-list {
    padding: 10px 20px;
    display: block;
    float: left;
}

.title-list {
    color: rgb(74, 35, 104);
    font-size: 20px;
    text-align: center;
    line-height: 1.6;
}

.text-list {
    margin: 10px 0;
    line-height: 25px;
}

p.item-list-popup {
    padding-bottom: 10px;
    padding-left: 30px;
    position: relative;
    font-size: 15px;
}

p.item-list-popup:before {
    content: "";
    width: 25px;
    height: 25px;
    top: 0px;
    position: absolute;
    left: 0px;
    background-image: url("src/tick_mark_dark-512-20200229032619.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.submit-register-popuo p {
    background: #4a2368;
}

.popup-content.SALARY-content .SALARY-content,.popup-content.BILL-content .BILL-content, .popup-content.CONTRACT-content .CONTRACT-content{
    display: block;
}

.popup-content,.SALARY-content .list-text-left .text-four, .SALARY-content .list-text-left .text-five,.SALARY-content .list-text-right .text-six,.SALARY-content .list-text-right .text-seven,.BILL-content .list-text-left .text-two,.BILL-content .list-text-left .text-three,.BILL-content .list-text-right .text-two,.BILL-content .list-text-right .text-four,.BILL-content .list-text-right .text-five,.BILL-content .list-text-right .text-seven,.CONTRACT-content .list-text-right .text-two,.CONTRACT-content .list-text-right .text-four,.CONTRACT-content .list-text-right .text-five,.CONTRACT-content .list-text-right .text-six,.CONTRACT-content .list-text-left .text-two,.CONTRACT-content .list-text-left .text-three{
	display:none
}

.close-popup {
    position: absolute;
    right: 12px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.close-popup:hover {color: red;}

#PARAGRAPH657,#PARAGRAPH658,#PARAGRAPH659 {
    opacity: 0;
}

#sandboxFrame {
  width: 100%;
  height: 630px;
}

@media (min-width:768px) and (max-width: 900px){


div#page-content {
    width: 750px;
}

.header-button {
    width: inherit;
    margin-right: 5px;
    padding: 5px;
}

.header-content-button {
    margin-right: 5px;
}

input.input-text {
    width: 90%;
}

.input-text.msg-text {}

p.input-line.center-input {
    width: 94%;
}

.item-box {
    vertical-align: top;
}

.item-box .header-item {
    height: 60px;
}

.text-item {
    height: 162px;
}

.item-forte {
}

.number-left {
    vertical-align: top;
}

p.button-Register.left-button {
    left: 28px;
}

.footer-content {
    padding: 10px;
    width: 100%;
}
}

@media (max-width:767px){
	#IMAGE493 {height: 74px;top: 5px;margin: 0 auto;display: block;right: 0;left: 25%;}

	.header-content-button {
			display: block!important;
			position: absolute;
			top: 84px;
			line-height: 40px;
			text-align: center;
			margin-right: 0;
	}

	#header-top {
			height: 178px;
	}

	.overlay-header {
			height: 178px!important;
	}

	.overlay-main {
			top: 178px;
			background-size: initial;
			background-attachment: scroll;
	}

	.header-button {
			width: 30%;
	}

	.ladi-image-background {margin: 0 auto;display: block;}



	#page-content {
			width: 100%!important;
	}



	#main-container-text {
			padding: 0 16px;
			top: 77px;
	}

	p.input-line {
			display: block;
			width: 100%;
	}

	div#input-form {
			padding: 5px 10px;
	}

	input.input-text,p.input-line.center-input,select.input-text {
			width: 100%;
	}


	.item-box {
			width: 100%;
	}

	#center-info {background: rgb(250, 250, 210);padding: 0 20px;}

	#main-forte {
			padding: 0px 10px;
	}

	#header-forte h1 {
			font-size: 32px;
	}

	.item-forte {
			width: 90%;
			margin-bottom: 20px;
	}

	.img-item-forte,.item-forte .black-overlay {
			width: 100%;
	}

	.list-item-box {
			text-align: center;
	}

	#header-PROCEDURE h1 {
			font-size: 28px;
			line-height: 33px;
	}

	#container-PROCEDURE {
			padding: 5px 5px;
	}

	.item-PROCEDURE .text-item {
			width: 65%;
	}



	.left-quest-colum {
			width: 100%;
			text-align: center;
	}

	.image-quest-left {
			background-size: cover;
	}

	.title-quest-left {
			left: 0;
			right: 0;
			text-align: center;
	}

	.right-quest-colum {
			width: 100%;
			padding: 0 5px;
			margin-top: 20px;
	}

	.title-quest-right h3 {
			text-align: center;
	}

	.item-box-rate {
			width: 100%;
	}

	#fotter-page {
			height: 730px;
			width: 100%;
			padding: 0 20px;
	}

	.fotter-contact {
			display: block;
			width: 100%;
	}

	.footer-content {
			width: 100%;
			padding: 0 10px;
	}

	.logo-fotter {
			text-align: center;
	}
	#main-form,#main-Quest,#main-PROCEDURE {
		padding: 0 20px;
	}
	body {
			overflow-x: hidden;
			width:100%;
	}
	.number-left {
			width: 50px;
			height: 50px;
			line-height: 50px;
	}
	
	.content-body {
			width: 100%;
			max-height: 576px;
			overflow: auto;
			padding: 5px;
	}

	.list-left-popup {
			display: block;
			width: 100%;
	}

	.list-right-popup {
			float: left;
			width: 100%;
			height: auto;
	}
	
	.fotter-top {
    left: 5px;
    right: 5px;
	}
	#sandboxFrame {
			width: 100%;
			height: 980px;
			overflow: hidden;
	}
}

